.InfoSection {
    text-align: center;
    margin: 0 auto;
    min-height: 75vh; 
    padding-top: 2vh;
    font-size: 0;
    font-size: calc(10px + 2vmin);
}

.InfoSection.primary {
    background-color: #282c34;
}

.InfoSection.secondary {
    background-color: #3f4552;
}

.InfoSection-header {
    color: rgb(209, 209, 209);
}
