.InfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; 
    padding-top: 2vh;
    font-size: 0;
    font-size: calc(10px + 2vmin);
}

.InfoSection.primary {
    background-color: #282c34;
}

.InfoSection.secondary {
    background-color: #3f455244;
}

.InfoSection-header {
    color: rgb(209, 209, 209);
}
