.InfoSection {
    min-height: 100vh; 
    font-size: calc(10px + 1.5vmin);
    width: 90vw;
}

.InfoSection-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75vh;
    background-color: #3d3d3db7;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid white;
    padding: 10px;
}

.InfoSection-header {
    font-family: "Oswald", sans-serif;
    font-size: calc(32px + 5vmin);
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    line-height: 1.2;
    word-break: break-word;
}
