.HeroHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.HeroHeader .link-button {
    position: absolute;
    bottom: 5vw;
}

.border {
    background-color: rgb(59, 59, 59);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: calc(16px + 2vmin);
    font-weight: 500;
    letter-spacing: .5vw;
    padding: 12px;
    padding-left: 5vw;
    padding-right: 5vw;
}