.Rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Rating-stars {
    height: calc(10px + 2vmin);
}

.Rating-star {
    width: calc(10px + 2vmin);
}

.Rating-label {
    margin-right: 12px;
    min-width: 100px;
    width: 20vw;
}

@media only screen and (max-width: 230px) {
    .Rating {
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }

    .Rating-label {
        margin-right: 0;
    }
}