.Rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Rating-stars {
    height: calc(10px + 2vmin);
}

.Rating-star {
    width: calc(10px + 2vmin);
}

.Rating-label {
    margin-right: 12px;
}