.container {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  max-width: 900px;
  padding: 12px;
  margin: 12px;
  background-color: #0267c1;
  border-radius: 5%;
}

.title {
  font-size: calc(32px + 3vmin);
  font-family: 'Pacifico', sans-serif;
}

.bitmoji {
  display: inline-block;
  width: 20vmin;
  height: 20vmin;
  min-width: 64px;
  min-height: 64px;
}

.text {
  font-size: calc(12px + 1vmin);
}

.inline-link,
.inline-link:visited {
  text-decoration: none;
  color: #0bffff;
  cursor: pointer;
}

.inline-link:focus {
  text-decoration: underline;
  outline: none;
}
