.NavBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    z-index: 9999;
    background: linear-gradient(to bottom, rgba(12,12,12,0.45) 0%,rgba(12,12,12,0.39) 13%,rgba(125,126,125,0) 100%);
}

.HamburgerIcon {
    display: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999
}

.HamburgerIcon img {
    height: 4vh;
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    transition: width 2s, height 4s;
}

.NavBar .link-button {
    font-family: 'Raleway', sans-serif;  
    font-size: calc(10px + .5vmin);
    padding: 3px;
    text-decoration: none;
    color: white;
    margin: 3px;
    outline: none;
}

.NavBar .link-button.active {
    outline: none;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

@media screen and (max-width: 768px){
    .HamburgerIcon {
        display: block;
    }

    .NavBar {
        display: block;
        background: none;
    }

    .NavBar ul {
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        background: rgba(46, 46, 46, 0.9);
        animation: slideOutUp .25s forwards;
    }

    .NavBar.expanded ul {
        animation: slideInDown .25s forwards;
        box-shadow: rgb(37, 37, 37) 0px 3px 5px;
    }
}