.container {
  align-self: flex-end;
}

nav {
  margin-top: 12px;
  margin-bottom: 12px;
  position: sticky;
  display: grid;
  place-content: end;
  width: 100%;
  z-index: 1;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, calc(25px + 10vw));
  grid-template-rows: auto 4px;
  place-items: center;
}

.link {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: calc(8px + 1vmin);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  outline: none;
}

.bar {
  width: 50%;
  min-width: 40px;
  height: 3px;
  background: transparent;
}

.b1:hover ~ .bar,
.b1:focus ~ .bar,
.b1.active-link ~ .bar {
  width: 40%;
  background: #ef8543;
  grid-column: 1 / 2;
  transition: 0.25s ease;
  animation: big 0.5s reverse;
}

.b2:hover ~ .bar,
.b2:focus ~ .bar,
.b2.active-link ~ .bar {
  grid-column: 2 / 3;
  background: #ff3399;
  box-shadow: 0 0 10px #ff3399;
  transition: 0.25s ease;
}

.b3:hover ~ .bar,
.b3:focus ~ .bar,
.b3.active-link ~ .bar {
  grid-column: 3 / 4;
  width: 30%;
  background: #00ff00;
  box-shadow: 0 0 10px white;
  transition: 0.25s ease;
}
