nav {
  position: fixed;
  display: grid;
  place-content: end;
  grid-auto-flow: column;
  width: 100%;
}

.link {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: 32px;
  text-align: center;
  text-transform: uppercase;
}

.link:hover,
.active-link {
  background: #0267c1;
}
