nav {
  position: fixed;
  display: grid;
  place-content: end;
  grid-auto-flow: column;
  width: 100%;
  z-index: 1;
}

.link {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: calc(8px + 1vmin);
  padding: 2vw;
  text-align: center;
  text-transform: uppercase;
}

.link:hover,
.active-link {
  color: #f06543;
  text-shadow: 1px 1px 2px #353531;
}
