@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico&display=swap');

/*
 * Palette: https://coolors.co/0267c1-0075c4-353531-f06543-ffffff
 */

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: #0075c4;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
