@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico&display=swap');

/*
 * Palette: https://coolors.co/0267c1-0075c4-353531-f06543-ffffff
 */

* {
  box-sizing: border-box;
  outline-color: white;
}
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: #0075c4;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.skip {
  position: absolute;
  opacity: 0;
  font-size: 0px;
  text-decoration: none;
  height: 0px;
  color: transparent;
}

.skip:focus {
  opacity: 1;
  font-size: 12px;
  color: white;
}
