@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');

/*
 * Palette: https://coolors.co/0267c1-0075c4-353531-f06543-ffffff
 */

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: #0075c4;
  font-family: 'Open Sans', sans-serif;
}
