.Rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Rating-stars {
    height: calc(10px + 2vmin);
    width: 20vw;
    min-width: 100px;
}

.Rating-star {
    width: calc(10px + 2vmin);
}

.Rating-star.shine {
    filter: brightness(1.3)
}

.Rating-label {
    min-width: 100px;
    width: 20vw;
}