@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Raleway');
@import url("https://fonts.googleapis.com/css?family=Oswald:300,700");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  height: 100%;
}

p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgb(184, 184, 184);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(97, 97, 97);
  border-radius: 3px;
  opacity: .5;
  outline: 1px solid slategrey;
}

.App {
  background-image: url('bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;  
  height: 100%;
  width: 100%;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Raleway', sans-serif;
  animation: fadeInUp 1s;
}

.App-link {
  color: #61dafb;
}

.App-header .secondary-header {
  opacity: 0;
  animation: 2s fadeIn 1s forwards;
}

.link-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.link-button:active {
  background: none;
  border: none;
  outline: none;
}

.indicator {
  width: 5vw;
  min-width: 50px;
  animation: pulse 1.5s infinite;
}

.accent {
  display: inline;
  color: #66deff
}

.accent-secondary {
  display: inline;
  color: rgb(255, 255, 97);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

hr {
  background-image: linear-gradient(90deg, transparent 0%, white 50%, transparent 100%);
  width: 50%;
  border: 0;
  height: 1px;
}

@media screen and (max-width: 200px){
  .App {
    background: linear-gradient(45deg, rgb(0, 247, 255) 0%,rgba(255, 67, 192, 0.692) 100%);
  }
}