@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Raleway');

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-family: 'Raleway', sans-serif;  
  height: 100%;
  width: 100%;
  padding: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Raleway', sans-serif;
  animation: fadeInUp 1s;
}

.App-link {
  color: #61dafb;
}

.App-header .secondary-header {
  opacity: 0;
  animation: 2s fadeIn 1s forwards;
}

.App-header .indicator {
  width: 5vw;
  min-width: 50px;
  opacity: 0;
  animation: 2s fadeIn 2s forwards, pulse 1.5s infinite;
}

.accent {
  display: inline;
  color: #039ec9
}

.accent-secondary {
  display: inline;
  color: rgb(255, 255, 97);
}