@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Quicksand|Roboto:300,400,500');

html {
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    background-color: #444;
}